<script>
	import List from './list'

	export let only = []
	export let exclude = []
	let input = ''
</script>
<style>
	#container{
		height: 99%;
		padding: 1%;
		overflow: hidden;

		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
	}
	#mid{
		width: 50vw;
		display: flex;
		flex-flow: column nowrap;
		justify-content: start;
	}
	#onlyexclude{
		display: flex;
		justify-content: stretch;
		align-items: stretch;
	}
	input{
		flex: 1 1 auto;
		text-align: center;
	}
	.scroller{
		overflow: auto;
	}
</style>
<div id='container'>
	<List bind:list={only} border='green'/>

	<div id='mid'>
		<div id='onlyexclude'>
			<button on:click={()=>{
				if(!input.length) return
				only.push(input.toLowerCase())
				only = only
				input = ''
			}}>only</button>
			<input type=text bind:value={input}/>
			<button on:click={()=>{
				if(!input.length) return
				exclude.push(input.toLowerCase())
				exclude = exclude
				input = ''
			}}>exclude</button>
		</div>
		<div class='scroller'>
			<slot></slot>
		</div>
	</div>

	<List bind:list={exclude} border='red'/>
</div>
