<script>
	import Bubble from './bubble'

	export let list = []
	export let border
</script>
<style>
	div{
		flex: 1 1 0;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
	}
</style>
<div>
	{#each list as value, i}
		<Bubble {value} {border} on:remove={()=>{
			list.splice(i, 1)
			list = list
		}}/>
	{/each}
</div>
