<script>
	import fdate from './util/fdate'
	export let created
	export let category
	export let region
	export let type
	export let link
	export let company
	export let job
	export let post

	let show = false
</script>
<style>
	.post{
		margin: 0.5em;
		padding: 0.3em;
		border-radius: 0.2em;
		background-color: var(--color2);
		display: flex;
		flex-flow: column nowrap;
		align-items: stretch;
	}
	p{
		margin: 0.3em 2em;
		display: flex;
		justify-content: space-between;
	}
	a{
		margin: 0.5em 0em;
		text-decoration: none;
		display: flex;
		justify-content: space-between;
	}
	#content{
		padding: 0.4em;
		margin: 0.1em;
		background-color: var(--color0);
		border-radius: 0.4em;
		white-space: pre-wrap;
	}
	.hidden{
		display: none;
	}
</style>
<div class='post' on:click|self={()=> show = !show}>
	<p>
		<small>{fdate(created)}</small>
		<small>{category}</small>
	</p>
	<p>
		<small>{region}</small>
		<small>{type}</small>
	</p>
	<a href={link}>
		<span>{company}</span>
		<span>{job}</span>
	</a>
	<div id='content' class:hidden={!show}>
		{post}
	</div>
</div>
