<script>
	import html2text from 'html-to-text'
	import store from './util/store'
	import Filter from './filter'
	import Post from './post'

	let only = store('only', [])
	let exclude = store('exclude', [])
	let jobs = store('jobs', [], d=>{
		d.forEach(j=> j.created = new Date(j.created))
		return d
	})
	const feeds = [
		'https://weworkremotely.com/categories/remote-full-stack-programming-jobs.rss',
		'https://weworkremotely.com/categories/remote-back-end-programming-jobs.rss'
	]

	const load = async ()=>{
		const extract = (element, name)=> element.querySelector(name).textContent
		const extracts = (element, ...names)=> names.map(name=> extract(element, name))
		const fetcher = async url=>{
			// console.log(url)
			const posts = []
			const dom = await fetch(url)
				.then(r=> r.text())
				.then(s=> new DOMParser().parseFromString(s, 'text/xml'))
			const items = dom.querySelectorAll('channel>item')
			for(const item of items){
				// console.log(item)
				const [
					title, region, category, type, description, link, pubDate
				] = extracts(item, 'title', 'region', 'category', 'type', 'description', 'link', 'pubDate')
				const created = new Date(pubDate)
				const post = html2text.convert(description, {selectors: [
					{selector: 'a', options: {ignoreHref: true}},
					{selector: 'img', format: 'skip'}
				]})
				const [company, job] = title.split(': ')
				posts.push({
					created, title, region, category, type, link, post,
					company, job,
					search:  `${title} ${region} ${category} ${type} ${post}`.toLowerCase()
				})
			}
			return posts
		}
		const loaded = (await Promise.all(feeds.map(fetcher))).flat()
		loaded.sort((a, b)=> b.created.getTime() - a.created.getTime()) //latest first
		return loaded
	}
	let loading = false

	let filtered = []
	const filter = (original, only, exclude)=> original.filter(job=>{
		const excluded = exclude.find(term=> job.search.includes(term))
		if(excluded) return false
		if(only.length===0) return true
		const included = only.map(term=> job.search.includes(term))
		return !(included.find(v=>!v)===false)
	})
	$: filtered = filter($jobs, $only, $exclude)
</script>
<style>
	div{
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
</style>
<div>
	<button on:click={()=> loading=load().then(loaded=> $jobs=loaded)}>
		{#await loading}
			... {filtered.length} / {$jobs.length} ...
		{:then}
			{filtered.length} / {$jobs.length}
		{/await}
	</button>
</div>
<Filter bind:only={$only} bind:exclude={$exclude}>
	{#each filtered as post}
		<Post {...post}/>
	{/each}
</Filter>
